<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>control.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeUsuario</servlet-name>
        <servlet-class>control.RecebeUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeArtigo</servlet-name>
        <servlet-class>control.RecebeArtigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeAuthor</servlet-name>
        <servlet-class>control.RecebeAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeJournal</servlet-name>
        <servlet-class>control.RecebeJournal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServlet</servlet-name>
        <servlet-class>autocomplete.autoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServletAuthor</servlet-name>
        <servlet-class>autocomplete.autoCompleteServletAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServletChemical</servlet-name>
        <servlet-class>autocomplete.autoCompleteServletChemical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServletKey</servlet-name>
        <servlet-class>autocomplete.autoCompleteServletKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServletMesh</servlet-name>
        <servlet-class>autocomplete.autoCompleteServletMesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoCompleteServletPublication</servlet-name>
        <servlet-class>autocomplete.autoCompleteServletPublication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebePublication</servlet-name>
        <servlet-class>control.RecebePublication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeMesh</servlet-name>
        <servlet-class>control.RecebeMesh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeChemical</servlet-name>
        <servlet-class>control.RecebeChemical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeKey</servlet-name>
        <servlet-class>control.RecebeKey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/ValidaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeUsuario</servlet-name>
        <url-pattern>/RecebeUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeArtigo</servlet-name>
        <url-pattern>/RecebeArtigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeAuthor</servlet-name>
        <url-pattern>/RecebeAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeJournal</servlet-name>
        <url-pattern>/RecebeJournal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServlet</servlet-name>
        <url-pattern>/autoCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServletAuthor</servlet-name>
        <url-pattern>/autoCompleteServletAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServletChemical</servlet-name>
        <url-pattern>/autoCompleteServletChemical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServletKey</servlet-name>
        <url-pattern>/autoCompleteServletKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServletMesh</servlet-name>
        <url-pattern>/autoCompleteServletMesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoCompleteServletPublication</servlet-name>
        <url-pattern>/autoCompleteServletPublication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebePublication</servlet-name>
        <url-pattern>/RecebePublication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeMesh</servlet-name>
        <url-pattern>/RecebeMesh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeChemical</servlet-name>
        <url-pattern>/RecebeChemical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeKey</servlet-name>
        <url-pattern>/RecebeKey</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
